valuate {   /* Just the valuate element*/
    display:inline-block;
    width: 600px;
    background-color:#fafafa;
    border:1px solid #ccc;
    border-radius:7px;
    overflow:hidden;
    font-family: Graphik LCG Web, Graphik Arabic Web Regular, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, Lucida Grande, Sans-Serif;
}


/* Valuate Header */

.title-cell, .close-cell {
    border-bottom: 1px solid #ddd;
}

.title-cell {
    width:100%;
    padding:10px;
    text-align: left;
}

.close-cell {
    padding-right:5px;
    text-align: right;
}

.valuate-close {
    border:none;
    background-color:inherit;
    color:#000;
    text-decoration: none;
    font-size:30px;
}

.valuate-close:focus, .valuate-close:hover {
    color:#ff0000;
}


/* Question & Logo Area */

.valuate-question {
    width:100%;
    text-align: left;
    margin-bottom:5px;
    padding:20px;
    border-bottom:1px solid #ddd;
}

.valuate-logo, .user-logo {
    height:50px;
    padding:10px;
}

/* Emoji Area */

.valuate-emoticons {
    width:100%;
}

.valuate-emoticons img {
    height:55px;
}

.valuate-emoticon-cell {
    width:25px;
}

.valuate-emoticons img:hover, .valuate-emoticons img:focus {
    background-color: #ddd;
    border-radius:14px;
}

.valuate-emoticons img[selected] {
    background:#fff;
    border-radius:14px;
    border:2px solid #ddd;
}


/* Leftmost/Rightmost Explanations */

.valuate-explanations {
    width:100%;
    margin-top:15px;
    margin-bottom:50px;
}

.valuate-lowest, .valuate-highest {
    width:45%;
}

.valuate-lowest {
    float:left;
    padding-left:10px;
    text-align:left;
}

.valuate-highest {
    float:right;
    padding-right:10px;
    text-align:right;
}


/* Comment Text Area */

.valuate-comment {
    max-width: 98%;
    width:98%;
    min-height: 100px;
    height:100px;
    margin:1%;
}

/* Submit button */

.valuate-submit {
    border:1px solid #000;
    background-color:#4caf50;
    color:#fff;
    margin-top:5px;
    padding: 10px 30px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size:16px;
    float:right;
    margin:7px;
}

.valuate-submit:focus, .valuate-submit:hover {
    background-color:#357a38;
}

.valuate-submit:disabled {
    background-color:#ddd;
}


/* User ID Area */

.valuate-user-id {
    margin: 7px;
}

.valuate-checkbox {
    margin-right: 10px;
}

.valuate-sent {
    border:none;
    background:none;
}